@import url(./layout/container/sys-container.css);
@import url(./layout/grid/sys.grid.css);
@import url(./helpers/sys-helpers.css);
@import url(./variables/variable.css);
@import url(./content/typography/sys-typography.css);
@import url(./content/images/sys-image.css);
@import url(./utilites/spacing/sys-utilities.css);
@import url(./component/sys-components/sys-header/sys-header.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);
@import url(./utilites/border/sys-border.css);
@import url(./component/sys-components/sys-sidebar/sys-sidebar.css);
@import url(./utilites/text-alignments/sys-text-alignment.css);
@import url(./component/sys-components/sys-snackbar/style.css);
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.text-accent, a.text-accent {
  color: #000075 !important;
}

.text-accent-90, a.text-accent {
  color: rgba(0, 0, 209, 0.9);
}

.text-accent-85, a.text-accent {
  color: rgba(0, 0, 209, 0.85);
}

.text-accent-80, a.text-accent {
  color: rgba(0, 0, 209, 0.8);
}

.text-accent-75, a.text-accent {
  color: rgba(0, 0, 209, 0.75);
}

.text-accent-70, a.text-accent {
  color: rgba(0, 0, 209, 0.7);
}

.text-accent-65, a.text-accent {
  color: rgba(0, 0, 209, 0.65);
}

.text-accent-60, a.text-accent {
  color: rgba(0, 0, 209, 0.6);
}

.text-olive, a.text-olive {
  color: #5FD855 !important;
}

.text-olive-90, a.text-olive {
  color: rgba(95, 216, 85, 0.9);
}

.text-olive-85, a.text-olive {
  color: rgba(95, 216, 85, 0.85);
}

.text-olive-80, a.text-olive {
  color: rgba(95, 216, 85, 0.8);
}

.text-olive-75, a.text-olive {
  color: rgba(95, 216, 85, 0.75);
}

.text-olive-70, a.text-olive {
  color: rgba(95, 216, 85, 0.7);
}

.text-olive-65, a.text-olive {
  color: rgba(95, 216, 85, 0.65);
}

.text-olive-60, a.text-olive {
  color: rgba(95, 216, 85, 0.6);
}

.text-alert, a.text-alert {
  color: #FFB800 !important;
}

.text-alert-90, a.text-alert {
  color: rgba(255, 184, 0, 0.9);
}

.text-alert-85, a.text-alert {
  color: rgba(255, 184, 0, 0.85);
}

.text-alert-80, a.text-alert {
  color: rgba(255, 184, 0, 0.8);
}

.text-alert-75, a.text-alert {
  color: rgba(255, 184, 0, 0.75);
}

.text-alert-70, a.text-alert {
  color: rgba(255, 184, 0, 0.7);
}

.text-alert-65, a.text-alert {
  color: rgba(255, 184, 0, 0.65);
}

.text-alert-60, a.text-alert {
  color: rgba(255, 184, 0, 0.6);
}

.text-error, a.text-error {
  color: #C73E1D !important;
}

.text-error-90, a.text-error {
  color: rgba(199, 62, 29, 0.9);
}

.text-error-85, a.text-error {
  color: rgba(199, 62, 29, 0.85);
}

.text-error-80, a.text-error {
  color: rgba(199, 62, 29, 0.8);
}

.text-error-75, a.text-error {
  color: rgba(199, 62, 29, 0.75);
}

.text-error-70, a.text-error {
  color: rgba(199, 62, 29, 0.7);
}

.text-error-65, a.text-error {
  color: rgba(199, 62, 29, 0.65);
}

.text-error-60, a.text-error {
  color: rgba(199, 62, 29, 0.6);
}

.text-secondary, a.text-secondary {
  color: #6c757d !important;
}

.text-secondary-90, a.text-secondary {
  color: rgba(108, 117, 125, 0.9);
}

.text-secondary-85, a.text-secondary {
  color: rgba(108, 117, 125, 0.85);
}

.text-secondary-80, a.text-secondary {
  color: rgba(108, 117, 125, 0.8);
}

.text-secondary-75, a.text-secondary {
  color: rgba(108, 117, 125, 0.75);
}

.text-secondary-70, a.text-secondary {
  color: rgba(108, 117, 125, 0.7);
}

.text-secondary-65, a.text-secondary {
  color: rgba(108, 117, 125, 0.65);
}

.text-secondary-60, a.text-secondary {
  color: rgba(108, 117, 125, 0.6);
}

.text-dark a.text-dark {
  color: #303030 !important;
}

.text-dark-90, a.text-dark {
  color: rgba(48, 48, 48, 0.9);
}

.text-dark-85, a.text-dark {
  color: rgba(48, 48, 48, 0.85);
}

.text-dark-80, a.text-dark {
  color: rgba(48, 48, 48, 0.8);
}

.text-dark-75, a.text-dark {
  color: rgba(48, 48, 48, 0.75);
}

.text-dark-70, a.text-dark {
  color: rgba(48, 48, 48, 0.7);
}

.text-dark-65, a.text-dark {
  color: rgba(48, 48, 48, 0.65);
}

.text-dark-60, a.text-dark {
  color: rgba(48, 48, 48, 0.6);
}

.text-critical a.text-critical {
  color: #e700e7 !important;
}

.text-critical-90, a.text-critical {
  color: rgba(231, 0, 231, 0.9);
}

.text-critical-85, a.text-critical {
  color: rgba(231, 0, 231, 0.85);
}

.text-critical-80, a.text-critical {
  color: rgba(231, 0, 231, 0.8);
}

.text-critical-75, a.text-critical {
  color: rgba(231, 0, 231, 0.75);
}

.text-critical-70, a.text-critical {
  color: rgba(231, 0, 231, 0.7);
}

.text-critical-65, a.text-critical {
  color: rgba(231, 0, 231, 0.65);
}

.text-critical-60, a.text-critical {
  color: rgba(231, 0, 231, 0.6);
}

.text-light, a.text-light {
  color: #ffffff !important;
}

.bg-accent {
  background-color: #000075;
  color: #ffffff !important;
}

.bg-accent-90 {
  background-color: rgba(0, 0, 209, 0.9);
  color: #ffffff !important;
}

.bg-accent-85 {
  background-color: rgba(0, 0, 209, 0.85);
  color: #ffffff !important;
}

.bg-accent-80 {
  background-color: rgba(0, 0, 209, 0.8);
  color: #ffffff !important;
}

.bg-accent-75 {
  background-color: rgba(0, 0, 209, 0.75);
  color: #ffffff !important;
}

.bg-accent-70 {
  background-color: rgba(0, 0, 209, 0.7);
  color: #ffffff !important;
}

.bg-accent-65 {
  background-color: rgba(0, 0, 209, 0.65);
  color: #ffffff !important;
}

.bg-accent-60 {
  background-color: rgba(0, 0, 209, 0.6);
  color: #ffffff !important;
}

.bg-olive {
  background-color: #5FD855;
  color: #ffffff !important;
}

.bg-olive-90 {
  background-color: rgba(95, 216, 85, 0.9);
  color: #ffffff !important;
}

.bg-olive-85 {
  background-color: rgba(95, 216, 85, 0.85);
  color: #ffffff !important;
}

.bg-olive-80 {
  background-color: rgba(95, 216, 85, 0.8);
  color: #ffffff !important;
}

.bg-olive-75 {
  background-color: rgba(95, 216, 85, 0.75);
  color: #ffffff !important;
}

.bg-olive-70 {
  background-color: rgba(95, 216, 85, 0.7);
  color: #ffffff !important;
}

.bg-olive-65 {
  background-color: rgba(95, 216, 85, 0.65);
  color: #ffffff !important;
}

.bg-olive-60 {
  background-color: rgba(95, 216, 85, 0.6);
  color: #ffffff !important;
}

.bg-alert {
  background-color: #FFB800;
  color: #ffffff !important;
}

.bg-alert-90 {
  background-color: rgba(255, 184, 0, 0.9);
  color: #ffffff !important;
}

.bg-alert-85 {
  background-color: rgba(255, 184, 0, 0.85);
  color: #ffffff !important;
}

.bg-alert-80 {
  background-color: rgba(255, 184, 0, 0.8);
  color: #ffffff !important;
}

.bg-alert-75 {
  background-color: rgba(255, 184, 0, 0.75);
  color: #ffffff !important;
}

.bg-alert-70 {
  background-color: rgba(255, 184, 0, 0.7);
  color: #ffffff !important;
}

.bg-alert-65 {
  background-color: rgba(255, 184, 0, 0.65);
  color: #ffffff !important;
}

.bg-alert-60 {
  background-color: rgba(255, 184, 0, 0.6);
  color: #ffffff !important;
}

.bg-error {
  background-color: #C73E1D;
  color: #ffffff !important;
}

.bg-error-90 {
  background-color: rgba(199, 62, 29, 0.9);
  color: #ffffff !important;
}

.bg-error-85 {
  background-color: rgba(199, 62, 29, 0.85);
  color: #ffffff !important;
}

.bg-error-80 {
  background-color: rgba(199, 62, 29, 0.8);
  color: #ffffff !important;
}

.bg-error-75 {
  background-color: rgba(199, 62, 29, 0.75);
  color: #ffffff !important;
}

.bg-error-70 {
  background-color: rgba(199, 62, 29, 0.7);
  color: #ffffff !important;
}

.bg-error-65 {
  background-color: rgba(199, 62, 29, 0.65);
  color: #ffffff !important;
}

.bg-error-60 {
  background-color: rgba(199, 62, 29, 0.6);
  color: #ffffff !important;
}

.bg-secondary {
  background-color: #6c757d;
  color: #ffffff !important;
}

.bg-secondary-90 {
  background-color: rgba(108, 117, 125, 0.9);
  color: #ffffff !important;
}

.bg-secondary-85 {
  background-color: rgba(108, 117, 125, 0.85);
  color: #ffffff !important;
}

.bg-secondary-80 {
  background-color: rgba(108, 117, 125, 0.8);
  color: #ffffff !important;
}

.bg-secondary-75 {
  background-color: rgba(108, 117, 125, 0.75);
  color: #ffffff !important;
}

.bg-secondary-70 {
  background-color: rgba(108, 117, 125, 0.7);
  color: #ffffff !important;
}

.bg-secondary-65 {
  background-color: rgba(108, 117, 125, 0.65);
  color: #ffffff !important;
}

.bg-secondary-60 {
  background-color: rgba(108, 117, 125, 0.6);
  color: #ffffff !important;
}

.bg-dark {
  background-color: #303030;
  color: #ffffff !important;
}
.bg-dark button, .bg-dark a {
  color: white;
}

.bg-dark-90 {
  background-color: rgba(48, 48, 48, 0.9);
  color: #ffffff !important;
}

.bg-dark-85 {
  background-color: rgba(48, 48, 48, 0.85);
  color: #ffffff !important;
}

.bg-dark-80 {
  background-color: rgba(48, 48, 48, 0.8);
  color: #ffffff !important;
}

.bg-dark-75 {
  background-color: rgba(48, 48, 48, 0.75);
  color: #ffffff !important;
}

.bg-dark-70 {
  background-color: rgba(48, 48, 48, 0.7);
  color: #ffffff !important;
}

.bg-dark-65 {
  background-color: rgba(48, 48, 48, 0.65);
  color: #ffffff !important;
}

.bg-dark-60 {
  background-color: rgba(48, 48, 48, 0.6);
  color: #ffffff !important;
}

.bg-critical-90 {
  background-color: rgba(231, 0, 231, 0.9);
  color: #ffffff !important;
}

.bg-critical-85 {
  background-color: rgba(231, 0, 231, 0.85);
  color: #ffffff !important;
}

.bg-critical-80 {
  background-color: rgba(231, 0, 231, 0.8);
  color: #ffffff !important;
}

.bg-critical-75 {
  background-color: rgba(231, 0, 231, 0.75);
  color: #ffffff !important;
}

.bg-critical-70 {
  background-color: rgba(231, 0, 231, 0.7);
  color: #ffffff !important;
}

.bg-critical-65 {
  background-color: rgba(231, 0, 231, 0.65);
  color: #ffffff !important;
}

.bg-critical-60 {
  background-color: rgba(231, 0, 231, 0.6);
  color: #ffffff !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.fixed, .sys-snackbar.bottomCenter, .sys-snackbar.bottomRight, .sys-snackbar.bottomLeft, .sys-snackbar.topCenter, .sys-snackbar.topRight, .sys-snackbar.topLeft {
  position: fixed;
}

.overflow-hidden {
  overflow: hidden;
}

.overflowX-hidden {
  overflow-x: hidden;
}

.overflowY-hidden {
  overflow-y: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflowX-scroll {
  overflow-x: scroll;
}

.overflowY-scroll {
  overflow-y: scroll;
}

.overflow-auto {
  overflow: auto;
}

.overflowX-auto {
  overflow-x: auto;
}

.overflowY-auto {
  overflow-y: auto;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.f-d-row {
  flex-direction: row;
}

.f-d-col {
  flex-direction: column;
}

.justify-c-end {
  justify-content: flex-end;
}

.justify-c-start {
  justify-content: flex-start;
}

.justify-c-between {
  justify-content: space-between;
}

.justify-c-arround {
  justify-content: space-around;
}

.justify-c-evenly {
  justify-content: space-evenly;
}

.justify-c-center {
  justify-content: center;
}

.align-i-center {
  align-items: center;
}

.align-i-start {
  align-items: flex-start;
}

.align-i-baseline {
  align-items: baseline;
}

.align-i-end {
  align-items: flex-end;
}

.gap-sm, .sys-snackbar .snackbar-head {
  gap: 10px;
}

.gap-lg {
  gap: 30px;
}

.gap-xlg {
  gap: 50px;
}

.sys-radius {
  border-radius: 4px;
}

.sys-radius-ts {
  border-top-left-radius: 4px;
}

.sys-radius-te {
  border-top-right-radius: 4px;
}

.sys-radius-bs {
  border-bottom-left-radius: 4px;
}

.sys-radius-be {
  border-bottom-right-radius: 4px;
}

.sys-radius {
  border-radius: 4px;
}

.sys-radius-ts {
  border-top-left-radius: 4px;
}

.sys-radius-te {
  border-top-right-radius: 4px;
}

.sys-radius-bs {
  border-bottom-left-radius: 4px;
}

.sys-radius-be {
  border-bottom-right-radius: 4px;
}

.sys-radius-sm, .sys-snackbar {
  border-radius: 4px;
}

.sys-radius-sm-ts {
  border-top-left-radius: 4px;
}

.sys-radius-sm-te {
  border-top-right-radius: 4px;
}

.sys-radius-sm-bs {
  border-bottom-left-radius: 4px;
}

.sys-radius-sm-be {
  border-bottom-right-radius: 4px;
}

.sys-radius-lg {
  border-radius: 1rem;
}

.sys-radius-lg-ts {
  border-top-left-radius: 1rem;
}

.sys-radius-lg-te {
  border-top-right-radius: 1rem;
}

.sys-radius-lg-bs {
  border-bottom-left-radius: 1rem;
}

.sys-radius-lg-be {
  border-bottom-right-radius: 1rem;
}

.sys-radius-xlg {
  border-radius: 1.5rem;
}

.sys-radius-xlg-ts {
  border-top-left-radius: 1.5rem;
}

.sys-radius-xlg-te {
  border-top-right-radius: 1.5rem;
}

.sys-radius-xlg-bs {
  border-bottom-left-radius: 1.5rem;
}

.sys-radius-xlg-be {
  border-bottom-right-radius: 1.5rem;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-0 {
  width: auto;
}

/* padding */
.p-auto {
  padding: auto;
}

.pt-auto {
  padding-top: auto;
}

.pe-auto {
  padding-right: auto;
}

.ps-auto {
  padding-left: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pe-0 {
  padding-right: 0;
}

.pe {
  padding-left: 0;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2, .sys-snackbar .snackbar-body, .sys-snackbar .snackbar-head, .sys-snackbar {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

/* padding for top*/
.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

/* padding for bottom*/
.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

/* padding for left*/
.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.ps-5 {
  padding-left: 3rem !important;
}

/* padding for right*/
.pe-1 {
  padding-right: 0.25rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

.pe-5 {
  padding-right: 3rem !important;
}

/* margin */
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.me-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.me-auto {
  margin-right: auto;
}

.ms-auto {
  margin-left: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

/* margin for top*/
.mt-1, .sys-snackbar .snackbar-body {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

/* margin for bottom*/
.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

/* margin for left*/
.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.ms-4 {
  margin-left: 1.5rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

/* margin for right*/
.me-1 {
  margin-right: 0.25rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-4 {
  margin-right: 1.5rem !important;
}

.me-5 {
  margin-right: 3rem !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sys-card-v1 {
  padding: 1.3rem;
  width: auto !important;
  border-radius: 10px !important;
  height: 100%;
  float: none !important;
}
.sys-card-v1 .sys-grid {
  justify-content: space-between;
  align-items: center;
}
.sys-card-v1 .icon, .sys-card-v1 img {
  border-radius: 100%;
  width: 100px;
  height: 95px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sys-card-v1 .title, .sys-card-v1 .sub-title {
  font-size: 20.58px;
  text-transform: capitalize;
}
.sys-card-v1 .sub-title {
  font-size: 16px;
  color: #6c757d;
}
.sys-card-v1 .sys-action {
  margin-top: 1.5rem;
}
.sys-card-v1 .sys-action button, .sys-card-v1 .sys-action a {
  width: 100%;
}

.sys-card-v2 {
  max-width: 20%;
  padding: 1.3rem;
  width: auto !important;
  border-radius: 10px !important;
  height: 100%;
  float: none !important;
}
.sys-card-v2 .sys-grid {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.sys-card-v2 .sys-grid {
  justify-content: space-between;
  align-items: center;
}
.sys-card-v2 .icon, .sys-card-v2 img {
  border-radius: 100%;
  width: 100px;
  height: 95px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sys-card-v2 .title, .sys-card-v2 .sub-title {
  font-size: 20.58px;
  text-transform: capitalize;
}
.sys-card-v2 .sub-title {
  font-size: 16px;
  color: #6c757d;
}
.sys-card-v2 .sys-action {
  margin-top: 1.5rem;
}
.sys-card-v2 .sys-action button, .sys-card-v2 .sys-action a {
  width: 100%;
}
.sys-card-v2 .sys-action {
  display: flex;
}
.sys-card-v2 .sys-action button, .sys-card-v2 .sys-action a {
  margin-right: 10px;
}
.sys-card-v2 .details {
  line-height: 2.2;
}
.sys-card-v2 .social-links {
  margin: 1rem 0;
}
.sys-card-v2 .social-links ul {
  list-style-type: none;
  padding-left: 0px;
}
.sys-card-v2 .social-links ul li {
  display: inline-block;
  margin-right: 1rem;
}
.sys-card-v2 .social-links ul li a {
  font-size: 20px;
  color: #6c757d;
}

.sys-pin-outline-badge {
  padding: 3px 10px;
  width: auto;
  font-size: 13px;
  border-radius: 15px;
  border: 1px solid;
}

.sys-pin-badge {
  padding: 3px 10px;
  width: auto;
  font-size: 13px;
  border-radius: 15px;
  border: 1px solid;
  border: none;
}

.sys-standard-badge {
  padding: 3px 10px;
  width: auto;
  font-size: 13px;
  border-radius: 15px;
  border: 1px solid;
  border: none;
}

.sys-outline-badge {
  padding: 3px 10px;
  width: auto;
  font-size: 13px;
  border-radius: 15px;
  border: 1px solid;
  border: 1px solid;
}

.sys-pin-basic-badge {
  padding: 3px 10px;
  width: auto;
  font-size: 13px;
  border-radius: 15px;
  border: 1px solid;
  border: none;
  padding: 5px 11px;
}

.sys-pin-outline-badge i {
  padding: 0;
  margin: 0;
  font-weight: 600;
  letter-spacing: 5px;
}

.badge-accent {
  color: #304FFE;
  border-color: #304FFE;
}

.badge-alert {
  color: #FFB800;
  border-color: #FFB800;
}

.badge-olive {
  color: #5FD855;
  border-color: #5FD855;
}

.badge-error {
  color: #C73E1D;
  border-color: #C73E1D;
}

.badge-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.sys-outline-badge .badge-accent {
  color: #304FFE;
  border-color: #304FFE;
}
.sys-outline-badge .badge-alert {
  color: #FFB800;
  border-color: #FFB800;
}
.sys-outline-badge .badge-olive {
  color: #5FD855;
  border-color: #5FD855;
}
.sys-outline-badge .badge-error {
  color: #C73E1D;
  border-color: #C73E1D;
}
.sys-outline-badge .badge-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.sys-pin-badge, .sys-standard-badge {
  color: white;
}
.sys-pin-badge.badge-accent, .sys-standard-badge.badge-accent {
  background-color: #304FFE;
}
.sys-pin-badge.badge-alert, .sys-standard-badge.badge-alert {
  background-color: #FFB800;
}
.sys-pin-badge.badge-olive, .sys-standard-badge.badge-olive {
  background-color: #5FD855;
}
.sys-pin-badge.badge-error, .sys-standard-badge.badge-error {
  background-color: #C73E1D;
}
.sys-pin-badge.badge-secondary, .sys-standard-badge.badge-secondary {
  background-color: #6c757d;
}
.sys-pin-badge i, .sys-standard-badge i {
  margin-right: 6px;
}

.sys-elevation-v1 {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

.sys-elevation-v2, .sys-snackbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.sys-elevation-v3 {
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
}

.sys-elevation-v4 {
  box-shadow: 0px 80px 50px -30px rgba(0, 0, 0, 0.15);
}

.sys-elevation-v5 {
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
}

[size=lg] {
  width: 130px !important;
  padding: 12px 0px !important;
}

[size=sm] {
  width: auto !important;
  font-size: x-small;
  padding: 8px 10px !important;
}

.sys-switch-olive .sys-switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.sys-switch-olive .sys-switch-label input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sys-switch-olive .sys-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.sys-switch-olive .sys-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.sys-switch-olive input:checked + .sys-slider:before {
  transform: translateX(26px);
}
.sys-switch-olive .sys-slider.round {
  border-radius: 34px;
}
.sys-switch-olive .sys-slider.round:before {
  border-radius: 50%;
}
.sys-switch-olive input:disabled + .sys-slider {
  opacity: 0.6;
}
.sys-switch-olive input:checked + .sys-slider {
  background-color: #5FD855;
}

.sys-switch-accent .sys-switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.sys-switch-accent .sys-switch-label input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sys-switch-accent .sys-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.sys-switch-accent .sys-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.sys-switch-accent input:checked + .sys-slider:before {
  transform: translateX(26px);
}
.sys-switch-accent .sys-slider.round {
  border-radius: 34px;
}
.sys-switch-accent .sys-slider.round:before {
  border-radius: 50%;
}
.sys-switch-accent input:disabled + .sys-slider {
  opacity: 0.6;
}
.sys-switch-accent input:checked + .sys-slider {
  background-color: #304FFE;
}

.sys-switch-error .sys-switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.sys-switch-error .sys-switch-label input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sys-switch-error .sys-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.sys-switch-error .sys-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.sys-switch-error input:checked + .sys-slider:before {
  transform: translateX(26px);
}
.sys-switch-error .sys-slider.round {
  border-radius: 34px;
}
.sys-switch-error .sys-slider.round:before {
  border-radius: 50%;
}
.sys-switch-error input:disabled + .sys-slider {
  opacity: 0.6;
}
.sys-switch-error input:checked + .sys-slider {
  background-color: #C73E1D;
}

.sys-switch-alert .sys-switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.sys-switch-alert .sys-switch-label input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sys-switch-alert .sys-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.sys-switch-alert .sys-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.sys-switch-alert input:checked + .sys-slider:before {
  transform: translateX(26px);
}
.sys-switch-alert .sys-slider.round {
  border-radius: 34px;
}
.sys-switch-alert .sys-slider.round:before {
  border-radius: 50%;
}
.sys-switch-alert input:disabled + .sys-slider {
  opacity: 0.6;
}
.sys-switch-alert input:checked + .sys-slider {
  background-color: #FFB800;
}

.sys-switch-secondary .sys-switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.sys-switch-secondary .sys-switch-label input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sys-switch-secondary .sys-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.sys-switch-secondary .sys-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.sys-switch-secondary input:checked + .sys-slider:before {
  transform: translateX(26px);
}
.sys-switch-secondary .sys-slider.round {
  border-radius: 34px;
}
.sys-switch-secondary .sys-slider.round:before {
  border-radius: 50%;
}
.sys-switch-secondary input:disabled + .sys-slider {
  opacity: 0.6;
}
.sys-switch-secondary input:checked + .sys-slider {
  background-color: #6c757d;
}

.sys-btn-outline-accent, .sys-btn-outline-alert, .sys-btn-outline-olive, .sys-btn-outline-error, .sys-btn-outline-secondary, .sys-btn-outline-critical, .sys-btn-outline-dark {
  color: #303030;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  outline: none;
  max-width: 100%;
  width: auto;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
}

.sys-btn-outline-dark {
  border: 1px solid #000000;
}

.sys-btn-outline-accent {
  border: 1px solid #304FFE;
}

.sys-btn-outline-accent {
  border: 1px solid #304FFE;
}

.sys-btn-outline-error {
  border: 1px solid #C73E1D;
}

.sys-btn-outline-secondary {
  border: 1px solid #6c757d;
}

.sys-btn-outline-secondary {
  border: 1px solid #6c757d;
}

.sys-btn-outline-critical {
  border: 1px solid #e700e7;
}

.sys-btn-outline-disable {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: none;
  text-align: center;
  outline: none;
  background-color: transparent;
  color: rgba(102, 102, 102, 0.86);
  border: 1px solid rgba(102, 102, 102, 0.86);
  width: 108px;
  overflow: hidden;
  white-space: nowrap;
}

.sys-btn-disable {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  pointer-events: none;
  text-align: center;
  outline: none;
  background-color: transparent;
  color: rgba(102, 102, 102, 0.86);
  border: 1px solid rgba(102, 102, 102, 0.86);
  width: 108px;
  overflow: hidden;
  white-space: nowrap;
  background-color: #6c757d;
}

.sys-btn-outline-accent:hover {
  background-color: rgba(0, 38, 202, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
}

.sys-btn-outline-dark:hover {
  background-color: rgba(0, 0, 0, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

.sys-btn-outline-dark:focus {
  background-color: #000000;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-outline-accent:focus {
  background-color: #304FFE;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-outline-secondary:hover {
  background-color: rgba(108, 117, 125, 0.19);
  box-shadow: 0px 4px 10px -1px #6c757d;
  transition: 0.2s;
}

.sys-btn-outline-secondary:focus {
  background-color: #6c757d;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(108, 117, 125, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-outline-critical:hover {
  background-color: rgba(231, 0, 231, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(231, 0, 231, 0.19);
  transition: 0.2s;
}

.sys-btn-outline-critical:focus {
  background-color: #e700e7;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(231, 0, 231, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-outline-alert {
  border: 1px solid #FFB800;
}

.sys-btn-outline-alert:hover {
  background-color: rgba(197, 157, 57, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
}

.sys-btn-outline-alert:focus {
  background-color: #FFB800;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-outline-olive {
  border: 1px solid #5FD855;
}

.sys-btn-outline-olive:hover {
  background-color: rgba(44, 148, 35, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
}

.sys-btn-outline-olive:focus {
  background-color: #5FD855;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-outline-error:hover {
  background-color: rgba(199, 62, 29, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(199, 62, 29, 0.19);
  transition: 0.2s;
}

.sys-btn-outline-error:focus {
  background-color: #C73E1D;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(199, 62, 29, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-group {
  display: inline-flex;
}
.sys-btn-group :first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.sys-btn-group :last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.sys-btn-group :not(:last-child) {
  border-radius: 0px;
}
.sys-btn-group [size=sm] {
  padding: 14px 10px !important;
}

.sys-btn-accent, .sys-btn-olive, .sys-btn-alert, .sys-btn-error, .sys-btn-secondary, .sys-btn-critical, .sys-btn-dark {
  color: #303030;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  outline: none;
  max-width: 100%;
  width: auto;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: white;
}

.sys-btn-dark {
  background-color: #000000;
}

.sys-btn-accent {
  background-color: #304FFE;
}

.sys-btn-olive {
  background-color: #5FD855;
}

.sys-btn-alert {
  background-color: #FFB800;
}

.sys-btn-error {
  background-color: #C73E1D;
}

.sys-btn-secondary {
  background-color: #6c757d;
}

.sys-btn-critical {
  background-color: #e700e7;
}

.sys-btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  border: 1px solid #000000;
}

.sys-btn-dark:focus {
  background-color: #000000;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-critical:hover {
  background-color: rgba(231, 0, 231, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(231, 0, 231, 0.19);
  transition: 0.2s;
  border: 1px solid #e700e7;
}

.sys-btn-critical:focus {
  background-color: #e700e7;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(231, 0, 231, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-accent:hover {
  background-color: rgba(0, 38, 202, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
  border: 1px solid #304FFE;
}

.sys-btn-accent:focus {
  background-color: #304FFE;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-alert:hover {
  background-color: rgba(197, 157, 57, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
  border: 1px solid #FFB800;
}

.sys-btn-alert:focus {
  background-color: #FFB800;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-olive:hover {
  background-color: rgba(44, 148, 35, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
  border: 1px solid #5FD855;
}

.sys-btn-olive:focus {
  background-color: #5FD855;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-error:hover {
  background-color: rgba(199, 62, 29, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(199, 62, 29, 0.19);
  transition: 0.2s;
  border: 1px solid #C73E1D;
}

.sys-btn-error:focus {
  background-color: #C73E1D;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(199, 62, 29, 0.19);
  transition: 0.2s;
  color: white;
}

.sys-btn-secondary:hover {
  background-color: rgba(108, 117, 125, 0.19);
  box-shadow: 0px 4px 10px -1px rgba(108, 117, 125, 0.19);
  transition: 0.2s;
  border: 1px solid #6c757d;
}

.sys-btn-secondary:focus {
  background-color: #6c757d;
  border: 1px solid white;
  box-shadow: 0px 4px 10px -1px rgba(108, 117, 125, 0.19);
  transition: 0.2s;
  color: white;
}

[size=lg].sys-outline-checkbox .checkmark, [size=lg].sys-checkbox .checkmark {
  padding: 5px 13px !important;
}

[size=sm].sys-outline-checkbox .checkmark, [size=sm].sys-checkbox .checkmark {
  padding: 3px 9px !important;
  font-size: smaller;
}
[size=sm].sys-outline-checkbox .checkmark:after {
  border: solid black;
  left: 6px !important;
  top: 2px !important;
  width: 5px;
  height: 10px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
[size=sm].sys-checkbox .checkmark:after {
  border: solid white;
  left: 6px !important;
  top: 2px !important;
  width: 5px;
  height: 10px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.sys-checkbox .checkmark {
  border: 1px solid #6c757d;
}

.sys-checkbox, .sys-outline-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.sys-checkbox .checkmark:after, .sys-outline-checkbox .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.sys-checkbox .checkmark, .sys-outline-checkbox .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  width: 33px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  padding: 0px 13px;
}
.sys-checkbox .checkmark:after, .sys-outline-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.sys-checkbox input, .sys-outline-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.sys-checkbox input[type=checkbox]:checked ~ .checkmark:after, .sys-outline-checkbox input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}
.sys-checkbox .checkmark:after, .sys-outline-checkbox .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.sys-checkbox.checkbox-accent .checkmark, .sys-outline-checkbox.checkbox-accent .checkmark {
  border: 1px solid #304FFE;
}
.sys-checkbox.checkbox-olive .checkmark, .sys-outline-checkbox.checkbox-olive .checkmark {
  border: 1px solid #5FD855;
}
.sys-checkbox.checkbox-alert .checkmark, .sys-outline-checkbox.checkbox-alert .checkmark {
  border: 1px solid #FFB800;
}
.sys-checkbox.checkbox-error .checkmark, .sys-outline-checkbox.checkbox-error .checkmark {
  border: 1px solid #C73E1D;
}
.sys-checkbox.checkbox-secondary .checkmark, .sys-outline-checkbox.checkbox-secondary .checkmark {
  border: 1px solid #6c757d;
}

.sys-outline-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.sys-outline-checkbox .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.sys-outline-checkbox .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  width: 33px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  padding: 0px 13px;
}
.sys-outline-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.sys-outline-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.sys-outline-checkbox input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}
.sys-outline-checkbox .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.sys-outline-checkbox {
  /* checkbox hover and checked effect */
}
.sys-outline-checkbox.checkbox-accent:hover input ~ .checkmark {
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(48, 79, 254, 0.6));
}
.sys-outline-checkbox.checkbox-olive:hover input ~ .checkmark {
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(95, 216, 85, 0.4));
}
.sys-outline-checkbox.checkbox-alert:hover input ~ .checkmark {
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(255, 184, 0, 0.25));
}
.sys-outline-checkbox.checkbox-error:hover input ~ .checkmark {
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(199, 62, 29, 0.45));
}
.sys-outline-checkbox.checkbox-secondary:hover input ~ .checkmark {
  background: transparent;
  filter: drop-shadow(0px 4px 4px rgba(108, 117, 125, 0.4));
}

.sys-checkbox.checkbox-accent input:checked ~ .checkmark {
  background-color: #304FFE;
  filter: drop-shadow(0px 4px 4px rgba(48, 79, 254, 0.6));
}
.sys-checkbox.checkbox-olive input:checked ~ .checkmark {
  background-color: #5FD855;
  filter: drop-shadow(0px 4px 4px rgba(95, 216, 85, 0.4));
}
.sys-checkbox.checkbox-alert input:checked ~ .checkmark {
  background-color: #FFB800;
  filter: drop-shadow(0px 4px 4px rgba(255, 184, 0, 0.25));
}
.sys-checkbox.checkbox-error input:checked ~ .checkmark {
  background-color: #C73E1D;
  filter: drop-shadow(0px 4px 4px rgba(199, 62, 29, 0.45));
}
.sys-checkbox.checkbox-secondary input:checked ~ .checkmark {
  background: #6c757d;
  filter: drop-shadow(0px 4px 4px rgba(108, 117, 125, 0.4));
}

.dark-theme {
  background-color: #303030;
  color: white;
}
.dark-theme .sys-btn-outline-accent, .dark-theme .sys-btn-outline-alert, .dark-theme .sys-btn-outline-olive, .dark-theme .sys-btn-outline-error, .dark-theme .sys-btn-outline-secondary, .dark-theme .sys-btn-outline-critical, .dark-theme .sys-btn-outline-dark {
  color: white;
}
.dark-theme .sys-btn-outline-accent {
  border: 1px solid #304FFE;
}
.dark-theme .sys-btn-outline-accent:hover {
  background-color: rgba(0, 38, 202, 0.19);
  box-shadow: 0px 4px 10px 0px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
}
.dark-theme .sys-btn-outline-accent:focus {
  background-color: #304FFE;
  border: 1px solid white;
  box-shadow: 0px 4px 10px 0px rgba(0, 38, 202, 0.19);
  transition: 0.2s;
  color: white;
}
.dark-theme .sys-btn-outline-alert {
  border: 1px solid #FFB800;
}
.dark-theme .sys-btn-outline-alert:hover {
  background-color: rgba(197, 157, 57, 0.19);
  box-shadow: 0px 4px 10px 0px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
}
.dark-theme .sys-btn-outline-alert:focus {
  background-color: #FFB800;
  border: 1px solid white;
  box-shadow: 0px 4px 10px 0px rgba(197, 157, 57, 0.19);
  transition: 0.2s;
  color: white;
}
.dark-theme .sys-btn-outline-olive {
  border: 1px solid #5FD855;
}
.dark-theme .sys-btn-outline-olive:hover {
  background-color: rgba(44, 148, 35, 0.19);
  box-shadow: 0px 4px 10px 0px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
}
.dark-theme .sys-btn-outline-olive:focus {
  background-color: #5FD855;
  border: 1px solid white;
  box-shadow: 0px 4px 10px 0px rgba(44, 148, 35, 0.19);
  transition: 0.2s;
  color: white;
}
.dark-theme .sys-btn-outline-critical {
  border: 1px solid #e700e7;
}
.dark-theme .sys-btn-outline-critical:hover {
  background-color: rgba(231, 0, 231, 0.19);
  box-shadow: 0px 4px 10px 0px rgba(231, 0, 231, 0.19);
  transition: 0.2s;
}
.dark-theme .sys-btn-outline-critical:focus {
  background-color: #e700e7;
  border: 1px solid white;
  box-shadow: 0px 4px 10px 0px rgba(231, 0, 231, 0.19);
  transition: 0.2s;
  color: white;
}
.dark-theme .sys-elevation-v1 {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}
.dark-theme .sys-elevation-v2, .dark-theme .sys-snackbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.dark-theme .sys-elevation-v3 {
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
}
.dark-theme .sys-elevation-v4 {
  box-shadow: 0px 80px 50px -30px rgba(0, 0, 0, 0.15);
}
.dark-theme .sys-elevation-v5 {
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
}
.dark-theme .sys-checkbox, .dark-theme .sys-outline-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dark-theme .sys-checkbox .checkmark:after, .dark-theme .sys-outline-checkbox .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.dark-theme .sys-checkbox .checkmark, .dark-theme .sys-outline-checkbox .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  width: 33px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  padding: 0px 13px;
}
.dark-theme .sys-checkbox .checkmark:after, .dark-theme .sys-outline-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.dark-theme .sys-checkbox input, .dark-theme .sys-outline-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.dark-theme .sys-checkbox input[type=checkbox]:checked ~ .checkmark:after, .dark-theme .sys-outline-checkbox input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}
.dark-theme .sys-checkbox .checkmark:after, .dark-theme .sys-outline-checkbox .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.dark-theme .sys-checkbox.checkbox-accent .checkmark, .dark-theme .sys-outline-checkbox.checkbox-accent .checkmark {
  border: 1px solid #304FFE;
}
.dark-theme .sys-checkbox.checkbox-olive .checkmark, .dark-theme .sys-outline-checkbox.checkbox-olive .checkmark {
  border: 1px solid #5FD855;
}
.dark-theme .sys-checkbox.checkbox-alert .checkmark, .dark-theme .sys-outline-checkbox.checkbox-alert .checkmark {
  border: 1px solid #FFB800;
}
.dark-theme .sys-checkbox.checkbox-error .checkmark, .dark-theme .sys-outline-checkbox.checkbox-error .checkmark {
  border: 1px solid #C73E1D;
}
.dark-theme .sys-checkbox.checkbox-secondary .checkmark, .dark-theme .sys-outline-checkbox.checkbox-secondary .checkmark {
  border: 1px solid #6c757d;
}
.dark-theme .sys-outline-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.dark-theme .sys-outline-checkbox .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.dark-theme .sys-outline-checkbox .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 24px;
  width: 33px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  padding: 0px 13px;
}
.dark-theme .sys-outline-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.dark-theme .sys-outline-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.dark-theme .sys-outline-checkbox input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}
.dark-theme .sys-outline-checkbox .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.sys-snackbar {
  position: relative;
  width: 100%;
  max-width: 300px;
  z-index: 9999999;
  background-color: #ffffff;
  color: #000000;
}
.sys-snackbar .snackbar-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.sys-snackbar .snackbar-head {
  display: flex;
  align-items: center;
}
.sys-snackbar .snackbar-head .snackbar-title {
  font-size: 1rem;
}
.sys-snackbar .snackbar-body {
  border-top: 1px solid #6c757d;
}
.sys-snackbar .snackbar-body p, .sys-snackbar .snackbar-body h1, .sys-snackbar .snackbar-body h2, .sys-snackbar .snackbar-body h3, .sys-snackbar .snackbar-body h4, .sys-snackbar .snackbar-body h5, .sys-snackbar .snackbar-body h6 {
  font-size: 0.8rem;
}
.sys-snackbar.topLeft {
  left: 20px;
  top: 20px;
}
.sys-snackbar.topRight {
  right: 20px;
  top: 20px;
}
.sys-snackbar.topCenter {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.sys-snackbar.bottomLeft {
  left: 20px;
  bottom: 20px;
}
.sys-snackbar.bottomRight {
  right: 20px;
  bottom: 20px;
}
.sys-snackbar.bottomCenter {
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */